<%= form_with model: activity_report, url: (activity_report.persisted? ? [:account, activity_report] : [:account, @team, :activity_reports]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :title, options: {autofocus: true} %>
    <%= render 'shared/fields/trix_editor', method: :description %>
    <%= render 'shared/fields/text_field', method: :apprentice_firstname %>
    <%= render 'shared/fields/text_field', method: :apprentice_lastname %>
    <%= render 'shared/fields/super_select', method: :year_of_training %>
    <%= render 'shared/fields/date_field', method: :start_of_apprenticeship %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, activity_report], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @team, :activity_reports], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
